#TODO
# build - osa
# ?????
#
# deploy resources
# - ohtaa yhteyden azureen
# - service connectionilla -> tälle pitää laittaa tarpeeksi paukkuja subiin että saa deployattua mitään
# - valitsee environmentin käyttäjän valinnan mukaan
# - deploy rg if not exists
# - check if resources already exists, if not, deploy



trigger: none

parameters:
- name: environment
  displayName: 'Select env'
  type: string
  default: dev
  values:
    - dev
    - test
    - prod


pool: 
  name: Default 

steps:
- checkout: self

- script: dir "$(Build.SourcesDirectory)\infra\parameters\dev"
  displayName: 'List files in dev folder'


- task: PowerShell@2
  displayName: 'Parametritestailua'
  inputs:
    targetType: 'inline'
    script: |
      $env = '${{ parameters.environment }}'
      $basePath = "$(Build.SourcesDirectory)"
      $paramFile = Join-Path -Path $basePath -ChildPath "infra/parameters/$env/infra-config.json"

      Write-Host "Reading parameters from $paramFile"

      if (-Not (Test-Path $paramFile)) {
        Write-Error "Parameter file not found: $paramFile"
        exit 1
      }

      $params = Get-Content $paramFile | ConvertFrom-Json
      $rgName = $params.resourceGroup
      $location = $params.location

      Write-Host "Resource Group: $rgName"
      Write-Host "Location: $location"
