trigger:
  paths:
    include:
      - api/** #pipeline triggers automaagisesti jos apiin tehdään muutoksia
    exclude:
      - infra/** #inframuutokset deployataan manuaalisesti

parameters:
  - name: environment
    displayName: "Select env"
    type: string
    default: dev
    values:
      - dev
      - test
      - prod

  - name: deployInfra
    type: boolean
    default: false
    displayName: "Deploy infrastructure?"

pool:
  name: Default

stages:
  - stage: Validate
    displayName: "Validate"
    jobs:
      - job: ValidateInfra
        displayName: "Placeholder for validation logic"
        steps:
          - checkout: self
          - script: echo "Validation would happen here if I had more time"
            displayName: "Skip validation (for now)"

  - stage: DeployRG
    displayName: "Deploy ResourceGroups to Azure"
    condition: eq('${{ parameters.deployInfra }}', 'true')
#    dependsOn: Validate
#    condition: succeeded()

    jobs:
      - job: DeployInfra
        steps:
          - checkout: self

          - task: AzurePowerShell@5
            displayName: "Check if RG exists if not Deploy"
            inputs:
              azureSubscription: "FOTS-infra-SC" # TO DO tämän voisi parametrisoida
              ScriptType: "InlineScript"
              Inline: |
                $env = '${{ parameters.environment }}'
                $jsonPath = "$(System.DefaultWorkingDirectory)/infra/variables/$env/resourceGroups.json"
                $rgs = Get-Content $jsonPath | ConvertFrom-Json

                foreach ($rg in $rgs) {
                  $rgName = $rg.name
                  $location = $rg.location

                  Write-Host "Processing RG '$rgName' in $location..."
                  $existing = Get-AzResourceGroup -Name $rgName -ErrorAction SilentlyContinue

                  if (-not $existing) {
                    New-AzResourceGroup -Name $rgName -Location $location -Tag @{ Creation = 'IaC' }
                    Write-Host "Created resource group: $rgName"
                  }
                  else {
                    Write-Host "Already exists: $rgName"
                  }
                }
              azurePowerShellVersion: "LatestVersion"

  - stage: DeployResources
    displayName: "Deploy resources into Resource Groups"
    condition: eq('${{ parameters.deployInfra }}', 'true')
 #   dependsOn: DeployRG
 #   condition: succeeded()

    jobs:
      - job: DeployToRGs
        displayName: "Deploy resources to all RGs"
        steps:
          - checkout: self

          
          - task: AzureCLI@2
            displayName: "Deploy Resources"
            inputs:
              azureSubscription: "FOTS-infra-SC" # TO DO tämän voisi parametrisoida
              scriptType: "ps"
              scriptLocation: "inlineScript"
              inlineScript: |
                $env = '${{ parameters.environment }}'

                $bicepPath = "$(System.DefaultWorkingDirectory)/infra/deployment/main-$env.bicep"
                $paramPath = "$(System.DefaultWorkingDirectory)/infra/variables/$env/resourceVariables.json"

                Write-Host "Deploying subscription-level template..."
                az deployment sub create `
                  --location westeurope `
                  --template-file $bicepPath `
                  --parameters @$paramPath


  - stage: BuildAPI
    displayName: Build & Deploy API
    dependsOn: Validate
    condition: succeeded()

    jobs:
      - job: BuildAPI
        displayName: Build Phase
        steps:
          - script: "echo 'Tässä pitäisi olla jotain järkevää'"
            displayName: "Build placeholder"

      - job: DeployAPI
        displayName: Deploy API to App Service
        variables:
         appServiceName: "fots-api-dev-as" #TO DO: PARAMETRISOI
        steps:
          - checkout: self

          - task: UsePythonVersion@0
            inputs: 
              versionSpec: '3.11'
              addToPath: true

          - script: |
              cd api
              python -m venv .venv
              .venv\Scripts\activate
              pip install -r requirements.txt
            displayName: "Installing dependencies"

          - task: ArchiveFiles@2
            displayName: Zipping the files to deployment
            inputs:
              rootFolderOrFile: "$(System.DefaultWorkingDirectory)/api"
              includeRootFolder: false
              archiveType: zip
              archiveFile: "$(Build.ArtifactStagingDirectory)/api.zip"
              replaceExistingArchive: true

          - task: AzureWebApp@1
            displayName: "Deploy to App Service"
            inputs:
              azureSubscription: "FOTS-infra-SC"
              appName: "$(appServiceName)"
              package: "$(Build.ArtifactStagingDirectory)/api.zip"