trigger: none

parameters:
  - name: environment
    displayName: "Select env"
    type: string
    default: dev
    values:
      - dev
      - test
      - prod
  

pool:
  name: Default

stages:
  - stage: Validate
    displayName: "Validate"
    jobs:
      - job: ValidateInfra
        displayName: "Placeholder for validation logic"
        steps:
          - checkout: self
          - script: echo "Validation would happen here if I had more time"
            displayName: "Skip validation (for now)"

  - stage: Deploy
    displayName: "Deploying Infra to Azure"
    dependsOn: Validate
    condition: succeeded()

    jobs:
      - job: DeployInfra
        steps:
          - checkout: self

          - task: AzureCLI@2
            inputs:
              azureSubscription: "FOTS-infra-SC"
              scriptType: "ps"
              scriptLocation: "inlineScript"
              inlineScript: |
                az deployment sub create `
                  --template-file infra/main.bicep `
                  --parameters @infra/variables/${{ parameters.environment }}/infra-var.json

