trigger: none

parameters:
  - name: environment
    displayName: "Select env"
    type: string
    default: dev
    values:
      - dev
      - test
      - prod

pool:
  name: Default

stages:
  - stage: Validate
    displayName: "Validate"
    jobs:
      - job: ValidateInfra
        displayName: "Placeholder for validation logic"
        steps:
          - checkout: self
          - script: echo "Validation would happen here if I had more time"
            displayName: "Skip validation (for now)"

  - stage: DeployRG
    displayName: "Deploy ResourceGroups to Azure"
    dependsOn: Validate
    condition: succeeded()

    jobs:
      - job: DeployInfra
        steps:
          - checkout: self

          - task: AzurePowerShell@5
            displayName: "Check if RG exists if not Deploy"
            inputs:
              azureSubscription: "FOTS-infra-SC" # TO DO t채m채n voisi parametrisoida
              ScriptType: "InlineScript"
              Inline: |
                $env = '${{ parameters.environment }}'
                $jsonPath = "$(System.DefaultWorkingDirectory)/infra/variables/$env/resourceGroups.json"
                $rgs = Get-Content $jsonPath | ConvertFrom-Json

                foreach ($rg in $rgs) {
                  $rgName = $rg.name
                  $location = $rg.location

                  Write-Host "Processing RG '$rgName' in $location..."
                  $existing = Get-AzResourceGroup -Name $rgName -ErrorAction SilentlyContinue

                  if (-not $existing) {
                    New-AzResourceGroup -Name $rgName -Location $location -Tag @{ Creation = 'IaC' }
                    Write-Host "Created resource group: $rgName"
                  }
                  else {
                    Write-Host "Already exists: $rgName"
                  }
                }
              azurePowerShellVersion: "LatestVersion"

  - stage: DeployResources
    displayName: "Deploy resources into Resource Groups"
    dependsOn: DeployRG
    condition: succeeded()

    jobs:
      - job: DeployToRGs
        displayName: "Deploy resources to all RGs"
        steps:
          - checkout: self

          #pseudokoodia
          - task: ACLI
            displayName: "Deploy App Service"
            inputs:
              azureSubscription: "FOTS-infra-SC" # TO DO t채m채n voisi parametrisoida
              ScriptType: "InlineScript"
              Inline: |
                az group create --name myResourceGroup --location "southcentralus" &&
                az deployment group create --resource-group myResourceGroup --template-file <path-to-template>

