#TODO
# build - osa
# ?????
#
# deploy resources
# - ohtaa yhteyden azureen
# - service connectionilla -> tälle pitää laittaa tarpeeksi paukkuja subiin että saa deployattua mitään
# - valitsee environmentin käyttäjän valinnan mukaan
# - deploy rg if not exists
# - check if resources already exists, if not, deploy



trigger: none

parameters:
- name: environment
  displayName: 'Select env'
  type: string
  default: dev
  values:
    - dev
    - test
    - prod


pool: 
  name: Default 

steps:
- checkout: self

- task: PowerShell@2
  displayName: 'Load Parameters from JSON'
  inputs:
    targetType: 'inline'
    script: |
      $env = '${{ parameters.environment }}'
      $paramFile = "infra/$env/infra-config.json"
      Write-Host "Reading parameters from $paramFile"

      $params = Get-Content $paramFile | ConvertFrom-Json
      $rgName = $params.resourceGroup
      $location = $params.location

      Write-Host "Resource Group: $rgName"
      Write-Host "Location: $location"

      
